/* FONTS */




@font-face {
    font-family: 'grotexregular';
    src: url('fonts/grotex-regular-webfont.woff2') format('woff2'),
         url('fonts/grotex-regular-webfont.woff') format('woff'),
         url('fonts/grotex-regular-webfont.svg#grotexregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Poster*/

a {
  text-decoration: none;
}

a:visited {
    color: black;
}

.mute {
    position: fixed;
    font-size: 30px;
    right: 2%;
    bottom: 1%;
    z-index: 3;
    cursor: pointer;
}

.poster-container {
    display: flex;
    /*put items vertically*/
    flex-direction: column;
    /*align all items in vertical center */
    justify-content: center;
    /*align all items in horz center */
    align-items: center;
    padding:20px;

}

.poster-format {

    -webkit-hyphens: auto;
    position: relative;
    -ms-hyphens: auto;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    background-color: black;
    margin: auto;
    margin-top: 4%;
    width: 610px;
    height: 850px;
   -moz-box-shadow:    inset  0  8px 8px -8px #696868,
                      inset  0 -8px 8px -8px #696868;
  -webkit-box-shadow: inset  0  8px 8px -8px #696868,
                      inset  0 -8px 8px -8px #696868;
    box-shadow:        inset  0  30px 30px -30px #696868,
                      inset  0 -30px 30px -30px #696868;

}

.poster-container-hidden {
    display: flex;
    /*put items vertically*/
    flex-direction: column;
    /*align all items in vertical center */
    justify-content: center;
    /*align all items in horz center */
    align-items: center;
    padding:20px;

}

.poster-format-hidden {

    -webkit-hyphens: auto;
    position: relative;
    -ms-hyphens: auto;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    background-color: black;
    margin: auto;
    margin-top: 4%;
    width: 610px;
    height: 850px;
   -moz-box-shadow:    inset  0  8px 8px -8px #696868,
                      inset  0 -8px 8px -8px #696868;
  -webkit-box-shadow: inset  0  8px 8px -8px #696868,
                      inset  0 -8px 8px -8px #696868;
    box-shadow:        inset  0  30px 30px -30px #696868,
                      inset  0 -30px 30px -30px #696868;

}

.intro {
    font-family: bagnard;
    font-size: 30px;
    letter-spacing: 1px;
    top: 6px;
    color: white;
    position:absolute;
    overflow:hidden;
    white-space:nowrap;
    cursor: move;
}

.back {
    font-family: 'grotexregular';
    color: black;
    position: fixed;
    font-size: 40px;
    bottom: 0%;
    left: 1%;
    z-index: 3;
}

/*grotex*/

#draggable-element {
  cursor:move;
  position:absolute;; /* important (all position that's not `static`) */
}

.swiss {
  font-family: 'grotexregular';
  background-color: red;
  display: inline-block;
  position: absolute;
  font-size: 90px;
  text-align: left;
  margin-left: 18px;
  margin-top: 18px;
  padding: 3px;
  color: white;
  cursor:move;
  z-index: 6;
}

.global {
  font-family: 'grotexregular';
  display: inline-block;
  word-wrap: break-word;
  background-color: blue;
  position: absolute;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin-right: 18px;
  top: 11%;
  left: 68%;
  font-size: 90px;
  padding: 3px;
  color: white;
  cursor:move;
  z-index: 4;
}

.federation {
  font-family: 'grotexregular';
  position: absolute;
  background-color: yellow;
  display: inline-block;
  font-size: 90px;
  text-align: left;
  margin-left: 18px;
  margin-right: 18px;
  top: 40%;
  padding: 3px;
  color: black;
  cursor:move;
  z-index: 3;
}

.grid {
  font-family: 'grotexregular';
  word-wrap: break-word;
  background-color: white;
  position: absolute;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  top: 60%;
  left: -2%;
  font-size: 90px;
  padding: 3px;
  color: black;
  cursor:move;
  z-index: 2;
}

.system {
  font-family: 'grotexregular';
  display: inline-block;
  word-wrap: break-word;
  background-color: green;
  position: absolute;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  top: 70%;
  left: 35%;
  font-size: 90px;
  padding: 3px;
  color: white;
  cursor:move;
  z-index: 1;
}

.suisse {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 0;
    cursor:move;
}

/*verso*/

.specimen-texte {
    font-family: 'grotexregular';
    overflow: hidden;
    overflow-wrap: break-word;
    position: absolute;
    background: white;
    background: transparent;
}

.specimen-texte2 {
    font-family: 'grotexregular';
    color: white;
    overflow-wrap: break-word;
    position: absolute;
    background: transparent;
}

.premier-mot{
    font-family:'grotexregular';
    color: white;
    font-size: 20px;
    margin-left: 0px;
    background: transparent;


}

.premier-mot2{
    font-family:'grotexregular';
    color: white;
    font-size: 10px;
    margin-left: 0px;
    background: transparent;
}


@media print {

  .open-close {
    display: none;
  }

  .noprint  {
    display: none;
  }

  .back {
      display: none;
  }

  .header, .footer, nav, .etc {
    display: none;
  }
  div.chapter {
     page-break-before: always;
  }
  .poster-container-hidden {
      padding: 0px;
  }
  .poster-format-hidden {
      margin-top: 0px;
      width: 215mm;
      height: 305mm;
  }
  .poster-format {
    margin-left: -25px;
    margin-top: -30px;
    width: 215mm;
    height: 305mm;
  }
}

@page {
  margin-top: 0cm;
  margin-bottom: 0cm;
  margin-left: 0cm;
  margin-right: 0cm;
}
@page :left {
    margin-left: 0cm;
    margin-right: 0cm;
}

@page :right {
    margin-left: 0cm;
    margin-right: 0cm;
}
