/*initialise default browsers settings*/
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}


/*Poster*/

.intro {
    font-family: bagnard;
    font-size: 30px;
    letter-spacing: 1px;
    top: 6px;
    color: white;
    position:absolute;
    overflow:hidden;
    white-space:nowrap;
    cursor: pointer;
  }

.poster-container {
    display: flex;
    /*put items vertically*/
    flex-direction: column;
    /*align all items in vertical center */
    justify-content: center;
    /*align all items in horz center */
    align-items: center;
    padding:20px;
}

.poster-format {
    display: flex;
    -webkit-hyphens: auto;
    position: relative;
    -ms-hyphens: auto;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    background-color: red;
    margin: auto;
    margin-top: 4%;
    width: 610px;
    height: 850px;
    cursor: url(img/texte-bruce.png), auto;
   -moz-box-shadow:    inset  0  8px 8px -8px #696868,
                      inset  0 -8px 8px -8px #696868;
  -webkit-box-shadow: inset  0  8px 8px -8px #696868,
                      inset  0 -8px 8px -8px #696868;
    box-shadow:        inset  0  30px 30px -30px #696868,
                      inset  0 -30px 30px -30px #696868;
}


audio {
   display:none;
}

.quote {
    font-family: 'savateitalique';
    display: flex;
    font-size: 60px;
    line-height: 68px;
    align-items: center;
    align-content: center;
    overflow: wrap;
    text-align: center;
    color: white;
    margin: 30px;
    padding: 30px;
    overflow: hidden;
}

.ying-yang1 {
    position: absolute;
    margin: 3%;
    top: 0px;
    right: 0px;
    content: url(img/yin-yang-yellow.png);
}

.ying-yang1:hover {
    cursor: url(img/texte-bruce-yellow.png), auto;
    content: url(img/bruce1.jpg);
}

.ying-yang2 {
    margin: 3%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: url(img/yin-yang-yellow.png);
}

.ying-yang2:hover {
    cursor: url(img/texte-bruce-yellow.png), auto;
    content: url(img/bruce2.jpg);
}

.ying-yang3 {
    margin: 3%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: url(img/yin-yang-yellow.png);
}

.ying-yang3:hover {
    cursor: url(img/texte-bruce-yellow.png), auto;
    content: url(img/bruce3.jpg);
}

.ying-yang4 {
    margin: 3%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: url(img/yin-yang-yellow.png);
}

.ying-yang4:hover {
    cursor: url(img/texte-bruce-yellow.png), auto;
    content: url(img/bruce4.jpg);
}

/* FONTS */
@font-face {
    font-family: 'nimbus_roman_no9_lbold';
    src: url('fonts/nimbusromno9l-med-webfont.woff2') format('woff2'),
         url('fonts/nimbusromno9l-med-webfont.woff') format('woff'),
         url('fonts/nimbusromno9l-med-webfont.svg#nimbus_roman_no9_lbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nimbus_roman_no9_lbold_italic';
    src: url('fonts/nimbusromno9l-medita-webfont.woff2') format('woff2'),
         url('fonts/nimbusromno9l-medita-webfont.woff') format('woff'),
         url('fonts/nimbusromno9l-medita-webfont.svg#nimbus_roman_no9_lbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nimbus_roman_no9_lregular';
    src: url('fonts/nimbusromno9l-reg-webfont.woff2') format('woff2'),
         url('fonts/nimbusromno9l-reg-webfont.woff') format('woff'),
         url('fonts/nimbusromno9l-reg-webfont.svg#nimbus_roman_no9_lregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nimbus_roman_no9_lRgIt';
    src: url('fonts/nimbusromno9l-regita-webfont.woff2') format('woff2'),
         url('fonts/nimbusromno9l-regita-webfont.woff') format('woff'),
         url('fonts/nimbusromno9l-regita-webfont.svg#nimbus_roman_no9_lRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bagnardregular';
    src: url('fonts/bagnard-webfont.woff2') format('woff2'),
         url('fonts/bagnard-webfont.woff') format('woff'),
         url('fonts/bagnard-webfont.svg#bagnardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grotexregular';
    src: url('fonts/grotex-regular-webfont.woff2') format('woff2'),
         url('fonts/grotex-regular-webfont.woff') format('woff'),
         url('fonts/grotex-regular-webfont.svg#grotexregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vtf_misterpixelregular';
    src: url('fonts/mister_pixel_regular-webfont.woff2') format('woff2'),
         url('fonts/mister_pixel_regular-webfont.woff') format('woff'),
         url('fonts/mister_pixel_regular-webfont.svg#vtf_misterpixelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vtf_misterpixeltools';
    src: url('fonts/mister_pixel_tools-webfont.woff2') format('woff2'),
         url('fonts/mister_pixel_tools-webfont.woff') format('woff'),
         url('fonts/mister_pixel_tools-webfont.svg#vtf_misterpixeltools') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Mixo';
  src: url('fonts/VTF_Mixo.eot'); /* IE9 Compat Modes */
  src: url('fonts/VTF_Mixo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/VTF_Mixo.woff') format('woff'), /* Modern Browsers */
       url('fonts/VTF_Mixo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/VTF_Mixo.svg#mixo') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'savateitalique';
    src: url('fonts/savate-italique-webfont.eot');
    src: url('fonts/savate-italique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/savate-italique-webfont.woff2') format('woff2'),
         url('fonts/savate-italique-webfont.woff') format('woff'),
         url('fonts/savate-italique-webfont.ttf') format('truetype'),
         url('fonts/savate-italique-webfont.svg#savateitalique') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'savateregular';
    src: url('fonts/savate-regular-webfont.eot');
    src: url('fonts/savate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/savate-regular-webfont.woff2') format('woff2'),
         url('fonts/savate-regular-webfont.woff') format('woff'),
         url('fonts/savate-regular-webfont.ttf') format('truetype'),
         url('fonts/savate-regular-webfont.svg#savateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*bagnard*/
.bagnard {
  font-family: 'bagnardregular';
}

/*mixo*/
.mixo {
  font-family: 'Mixo';
}

/*nimbus*/
.nimbusregular {
  font-family: 'nimbus_roman_no9_lregular';
}

.nimbusregularitalic {
  font-family: 'nimbus_roman_no9_lRgIt';
}

.nimbusbold {
  font-family: 'nimbus_roman_no9_lbold';
}

.nimbusbolditalic {
  font-family: 'nimbus_roman_no9_lbold_italic';
}

/*grotex*/
.grotex {
  font-family: 'grotexregular';
}

/*mrpixel*/
.mrpixel {
  font-family: 'vtf_misterpixelregular';
}
.mrpixeltools {
  font-family: 'vtf_misterpixeltools';
}

.savateregular {
  font-family: 'savateregular';
}

.savateregularitalic {
  font-family: 'savateitalique';
}
