

@media print {
 
	#content {
	width: 100%; 
	margin: 0; 
	float: none; 
	}

 	@page {
	 margin-top: 1.2cm;
	 margin-bottom: 0cm;
	 margin-left: 3cm;
	 margin-right: 3cm;
	}

	.page-break-after{
		page-break-after: always;
	}
	.page-break-before{
		page-break-before: always;
	}

	.chapter {
     page-break-before: always; // AVANT L’ÉLÉMENT
  	}

  img {
     page-break-inside: avoid; // JAMAIS DANS L’ÉLÉMENT
  }

	body {
		overflow-wrap: break-word;
		text-align: center;
	}

	h1, .arrows {
		display: none;
	}


	h2 {
		font-family: 'petit_formal_scriptregular';
		font-size: 15px;
		margin-bottom: -1.5cm;
		page-break-before: always;
	}

	img {
		max-width: 200px;
	}

	.page-home .grid-container {
		display: block;
	}

	.lilgroteskregular {
		font-family: 'lilgroteskregular';
		font-size: 90px;
		line-height: 95px;
		padding-bottom: 30px;
	}

	.lilgroteskregularplus {
		font-family: 'lilgroteskregular';
		font-size: 65px;
		line-height: 50px;
		padding-top: 0.25cm;
		padding-bottom: 10px;
		
	}

	.lilgroteskregularplusplus {
		font-family: 'lilgroteskregular';
		font-size: 40px;
		padding-top: 8px;
		padding-bottom: 10px;
		
	}

	.lilgroteskregularplusplusplus{
		font-family: 'lilgroteskregular';
		font-size: 22px;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		

	}

	.lilgroteskregularplusplusplusplus
		{
		font-family: 'lilgroteskregular';
		font-size: 10px;
		page-break-after: avoid;
		padding-top: 8px;
		padding-bottom: 10px;
		
		}



	.lilgroteskbold {
		font-family: 'lilgroteskbold';
		font-size: 90px;
		line-height: 95px;
		padding-bottom: 30px;
		
	}

	.lilgroteskboldplus {
		font-family: 'lilgroteskbold';
		font-size: 65px;
		line-height: 50px;
		padding-top: 8px;
		padding-bottom: 10px;
		
	}

	.lilgroteskboldplusplus {
		font-family: 'lilgroteskbold';
		font-size: 40px;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		
	}

	.lilgroteskboldplusplusplus{
		font-family: 'lilgroteskbold';
		font-size: 22px;
		padding-bottom: 30px;
		padding-top: 8px;
		padding-bottom: 10px;
		

	}

	.lilgroteskboldplusplusplusplus
		{
		font-family: 'lilgroteskbold';
		font-size: 10px;
		padding-top: 8px;
		padding-bottom: 10px;
		
		}


}

