@import url(http://openfontlibrary.org/face/grupo3);



@font-face {
    font-family: 'Solide Mirage_Etroit';
    src:    url('../fonts/solidmirage/SolideMirage/Etroit/Solide_Mirage-Etroit_web.eot');
    src:    url('../fonts/solidmirage/Solide_Mirage-Etroit_web.eot?#iefix') format('embedded-opentype'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.woff') format('woff'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.woff2') format('woff2'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.ttf') format('truetype'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*initialise default browsers settings*/
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}
p {
  margin: 0px;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y:hidden;
    overflow-x:scroll;
}
.slider-nav {
    position: absolute;
    top: 50vh;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 4;
}
#slider-left {
    left: 20px;
}
#slider-right {
    right: 20px;
}
.slide-wrap {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
}
.slider-slide-wrap {
    position: absolute;
    width: 680px;
    height: 100vh;
}
.blue {
  background-size: cover;
  background-color:black;
  color:#ffcce6;
}
.inside-slide {
  position: absolute;
  top: 50vh;
  margin-top: -150px;
  width: 100%;
}
.blue p {
    font-family: 'Solide Mirage_Etroit';
    font-size: 8em;
  text-align:center;
}

.first{
    background-color:blue;
    background-size: cover;
  background-image:url('../img/lolita-solide-mirage.gif');
  color:white;
  font-size: 8em;
  text-align:center;
  line-height:auto;
}

.first p {
    position: absolute;
    top: 50vh;
    margin-top: -150px;
    font-family: 'Solide Mirage_Etroit';
}

.yellow {
  
  background-size: cover;
  background-color:#ffcce6;
  background-image:url('../img/glyphes2.gif');
  color:white;
  font-size: 8em;
  text-align:center;
  line-height:auto;
}

.pink p { 
   font-family:'Solide Mirage_Etroit'; 
   font-weight: normal; 
   font-style: normal;
   font-size: 5.6em;
   padding: 10% 13%;
   text-align: center;
   color: #170B3B;
   line-height: 105%;
}

p:focus {
  outline: none;
}

#container {
  font-family:'Solide Mirage_Etroit'; 
  position:absolute;
    top: 50vh;
    margin-top: -130px;
    font-size:5em;
    text-align:center;


}

.orange p {
  font-family:'Solide Mirage_Etroit';

  
    
    

}
.violet{
  background-color:#ffcce6;
}

.violet p{
   font-family:'Solide Mirage_Etroit'; 
   font-weight: normal; 
   font-style: normal;
   font-size: 5.6em;
   padding: 10% 13%;
   text-align: center;
   color: black;
   line-height: 105%;
}
