@import url(http://openfontlibrary.org/face/grupo3);



@font-face {
    font-family: 'Solide Mirage_Etroit';
    src:    url('../fonts/solidmirage/SolideMirage/Etroit/Solide_Mirage-Etroit_web.eot');
    src:    url('../fonts/solidmirage/Solide_Mirage-Etroit_web.eot?#iefix') format('embedded-opentype'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.woff') format('woff'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.woff2') format('woff2'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.ttf') format('truetype'),
            url('../fonts/solidmirage/Solide_Mirage-Etroit_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
.no-print {
  display: none;
}
* {
  background:white!important;
}
  .slider-wrap {
    height: auto;

  }

  .slide-wrap {
    width: 20cm !important;
    
  }

  .slider-slide-wrap{
    width:20cm !important; 
    height: 25cm;
    display:-webkit-flex; 
    display:flex;
  }

  .first p {
        color: black;
        font-size: 150px!important;

  }


.first{
    width:80% !important; 
    height: 25cm;
    position:relative;
    left:0cm !important;
    float: left;
    clear: left;
    font-size: 90px!important;
    
}
   .orange,.pink,.violet,.yellow,.blue{
    position:relative;
    left:0 !important;
    float: left;
    clear: left;
    font-size: 12px !important;
    width:20cm !important; clear:left;
    height: 25cm;
    page-break-after: always;
    page-break-inside: avoid;

  }

  .inside-slide {
    width:80% !important; 
    height: 20cm;
    position:relative;
    left:0cm;
    float: left;
    clear: left;
    font-family:'Solide Mirage_Etroit';
    top:10cm;
    text-align:center;
    left:1.7cm;


  }

.inside-slide p{
  margin:0;
  color:black;
  font-size:200%;
  line-height: 1.5 !important;
  text-align:center;
  top:5cm;
  
}

#
}

.orange{
  width:80%; 
    height: 25cm;
    position:relative;
    left:1cm !important;
    float: left;
    clear: left;
    font-size: ;
    font-family:'Solide Mirage_Etroit';
    left:0cm;
}

.orange p {
  margin:0;
  color:black;
  font-size:90px;
  line-height: 1.5 !important;
  text-align: center;

}

.replique-print{
  width:100% !important; 
    height: 20cm;
    position:relative;
    left:0 !important;
    float: left;
    clear: left;
    font-size:20px;
    font-family:'Solide Mirage_Etroit';
    top:10cm;
    left:0cm;


}


.inside-slide p:nth-child(1){
  font-size: 50px;
  

  }
.inside-slide p:nth-child(2){
  font-size:50px; 
  
}

 
.inside-slide p:nth-child(3){
  font-size:50px; 
  
}

.inside-slide p:nth-child(4){
  font-size:50px; 
  

   }
.inside-slide p:nth-child(5){
  font-size:50px; 
  
}
  
  
.first{
   position: relative;
    top:10cm;
    margin:auto;
    width: 20%;
    text-align:center;
    font-family:'Solide Mirage_Etroit';


}

.first p {
  margin:0;
  color:black;
  font-size:110px;
  line-height: 1.5 !important;
  text-align: center;

}




  .header, .footer, nav, .etc {
    display: none; 
  }
  /*// GÉRER LES PAGE BREAK*/
  div.chapter {
     page-break-before: always; 
  }
  img {
     page-break-inside: avoid; 
  }
  /*// LIENS
  // pour afficher l’URL des liens:*/
  a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
  }
}


/*// POUR CHANGER LES MARGES DE LA PAGE
// MARCHE DANS CHROME ET FIREFOX MAIS PAS SAFARI :(*/
@page {
  margin-top: 7cm;
  margin-bottom: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;  
}
@page :left {
    margin-left: 3cm;
    margin-right: 2cm;
}

@page :right {
    margin-left: 3cm;
    margin-right: 2cm;
}

 #container {
    display:none;
  }

  .yellow{
  display: none;
 }

 .typehere {
  display: none;
 }

 .violet {
  display: none;
 }



