
// À AJOUTER TOUT SIMPLEMENT DANS LE CSS (vers la fin)
@media print {
  // modifiez les styles des classes pré-existantes
  .first p {
    font-size: 8px; // par exemple
    color: black; // par exemple
  }

  .blue{
    position:relative;
  }

  .yellow{
    position:relative;
    font-size: 10px;
  }

  .orange{
    position:relative;
  }

  .pink{
    position:relative;
  }

  .violet{
    position:relative;
  }
  .inside-slide p {
    font-size:10px;
  }
  // SUPPRIMER DES ÉLÉMENTS
  .header, .footer, nav, .etc {
    display: none; // permet de cacher les éléments en print
  }
  // GÉRER LES PAGE BREAK
  div.chapter {
     page-break-before: always; // AVANT L’ÉLÉMENT
  }
  img {
     page-break-inside: avoid; // JAMAIS DANS L’ÉLÉMENT
  }
  // LIENS
  // pour afficher l’URL des liens:
  a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
  }
}
// POUR CHANGER LES MARGES DE LA PAGE
// MARCHE DANS CHROME ET FIREFOX MAIS PAS SAFARI :(
@page {
  margin-top: 7cm;
  margin-bottom: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;  
}
@page :left {
    margin-left: 3cm;
    margin-right: 2cm;
}

@page :right {
    margin-left: 3cm;
    margin-right: 2cm;
}

@media screen {

  .inside-first p {
    display:none;
  }
}
