@font-face {
    font-family: 'novacut';
    src:    url('../fonts/novacut/novacut-webfont.eot');
    src:    url('../fonts/novacut/novacut-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/novacut/novacut-webfont.woff2') format('woff2'),
            url('../fonts/novacut/novacut-webfont.woff') format('woff'),
            url('../fonts/novacut/novacut-webfont.ttf') format('truetype'),
            url('../fonts/novacut/novacut-webfont.svg#nova_cutbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*pab*/

.hover-over .btn {
    /*display: none;*/
}
* {
    font-family: 'novacut';
}
.btn {
    font-family: 'novacut';
    text-decoration: none;
    color: #xxxxxx;
    color: grey;
    background:none;
    text-align: center;
    vertical-align: middle;
    margin-right: 50px;
    float:middle;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    transition: opacity 0.2s linear;
}

.btn:hover {
    background:none;
}

.hover-over {
    position: absolute;
    z-index: 999;
    right: 0;
    background:none;
    opacity:0;
    float:right;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    transition: visibility linear 0.2s, opacity 0.2s linear;
}

.hover-over:hover {
    color: red;
    width: 100%;
    height: 150px;
    opacity:1;
}

.hover-over .show-me {
    padding-top: 35px;
    width: 20em;
    margin: auto;
    height: 30px;

    /*visibility: hidden;*/
    /*opacity:0;*/
    /*transition: visibility linear 0.2s, opacity 0.2s linear;*/
}

.hover-over:hover .show-me {
    visibility: visible;
    opacity:1;
    transition-delay:0s;
    transition: width 0s linear;
    background: none;
    transition: visibility linear 0.2s, opacity 0.2s linear;
}

.content {
    width: 100%;
    height: 100%;
}




/*pab*/

/*initialise default browsers settings*/
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}
p {
  margin: 0px;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y:hidden;
    overflow-x:scroll;
}
.slider-nav {
    position: absolute;
    top: 49vh;
    width: 20px;
    height: 20px;
    background-color: #666666;
    opacity: 0.5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 4;
}
#slider-left {
    left: 20px;
}
#slider-right {
    right: 20px;
}
.slide-wrap {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
}
.slider-slide-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.blue {
  background-size: cover;
  background-color:black;
  color:#FF0000;
  display: -webkit-flex;
  display: flex;
}
.inside-slide {
  position: absolute;
  top: 25vh;
  width: 100%;
  margin: auto;
  margin-top: auto;

}


.blue p {
    font-family: 'novacut';
    font-size: 8em;
  text-align:center;
}

.first{

  background-size: cover;
  background-image:url('../img/bonpsychose.gif');
  color:white;
  font-size: 12em;
  display: -webkit-flex;
  display: flex;
}

.first p {

  font-family: 'novacut';
  margin: auto;
  margin-top: calc(50vh - 0.7em)
}

.yellow {
  font-family:'novacut';
  font-size: 300px;
  background-size: cover;
  background-color:#FF0000;
  color:black;
  text-align:center;
  line-height:auto;
  display: -webkit-flex;
  display: flex;
}

.yellow p {
  margin: auto;
  margin-top: calc(50vh - 0.7em);

}

.pink {
  background-color: black;
}
.pink p {
   font-family:'novacut';
   font-weight: normal;
   font-style: normal;
   font-size: 5em;
   margin-top: calc(50vh - 0.7em);
   text-align: center;
   color: white;
   line-height: 120%;
}

p:focus {
  outline: none;
}

#container {
  font-family:'novacut';
  position:center;
    margin-top: calc(50vh - 0.7em);
    font-size:5em;
    text-align:center;
    color:#FF0000;

}


.orange p {
  font-family:'novacut';

}

.violet{
  background-color:#FF0000;
}

.violet p{
   font-family:'novacut';
   font-weight: normal;
   font-style: normal;
   font-size: 2em;
   text-align: center;
   margin-top: calc(40vh - 0.7em);
   color: black;
   line-height: 1.5em;
}
