/*initialise default browsers settings*/
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

body {
	line-height: 1.5;
}

nav {
	width: 100%;
	background-color: yellow;
	height: 150px;
	padding: 30px;
}
.outils {
	width: 60%;
	height: 150px;
}
.outil-1 {
	width: 100%;
	background-color: blue;
}
.outil-element {
	width: 100px;
	float: left;
}
.outil-element li {
	list-style: none;
	display: none;
}
.compo {
	background:blue;
	width: 38%;
	height: 150px;
}