@import url(http://openfontlibrary.org/face/grupo3);



@font-face {
    font-family:'BilboINC';
    src: url('../fonts/bilbo/BilboINC Regular.eot');
    src: url('../fonts/bilbo/BilboINC Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bilbo/BilboINC Regular.woff2') format('woff2'),
        url('../fonts/bilbo/BilboINC Regular.woff') format('woff'),
        url('../fonts/bilbo/BilboINC Regular.svg#BilboINC Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-02DC;
}

/*pab*/

.hover-over .btn {
    /*display: none;*/
}

.btn {
    font-family: 'BilboINC';
    text-decoration: none;
    font-size: 30px;
    color: #xxxxxx;
    color: #666666;
    background:none;
    text-align: center;
    vertical-align: middle;
    margin-right: 50px;
    float:middle;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    transition: opacity 0.2s linear;
}

.btn:hover {
    background:none;
}

.hover-over {
    position: absolute;
    z-index: 999;
    right: 0;
    background:none;
    opacity:0;
    float:right;
    width: 100%;
    height: 400px;
    border-radius: 12px;
    transition: visibility linear 0.2s, opacity 0.2s linear;
}

.hover-over:hover {
    color: red;
    width: 100%;
    height: 150px;
    opacity:1;
}

.hover-over .show-me {
    padding-top: 35px;
    width: 18em;
    margin: auto;
    height: 30px;

    /*visibility: hidden;*/
    /*opacity:0;*/
    /*transition: visibility linear 0.2s, opacity 0.2s linear;*/
}

.hover-over:hover .show-me {
    visibility: visible;
    opacity:1;
    transition-delay:0s;
    transition: width 0s linear;
    background: none;
    transition: visibility linear 0.2s, opacity 0.2s linear;
}

.content {
    width: 100%;
    height: 100%;
}




/*pab*/

/*initialise default browsers settings*/
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}
p {
  margin: 0px;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y:hidden;
    overflow-x:scroll;
}
.slider-nav {
    position: absolute;
    top: 49vh;
    width: 20px;
    height: 20px;
    background-color: #666666;
    opacity: 0.5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 4;
}
#slider-left {
    left: 20px;
}
#slider-right {
    right: 20px;
}
.slide-wrap {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
}
.slider-slide-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.blue {
  background-size: cover;
  background-color:black;
  color:#3533FB;
  display: -webkit-flex;
  display: flex;
}
.inside-slide {
  position: absolute;
  top: 22vh;
  width: 100%;
  margin: auto;
  margin-top: auto;

}


.blue p {
    font-family: 'BilboINC';
    font-size: 8em;
  text-align:center;
}

.first{
    
  background-size: cover;
  background-image:url('../img/lebowski.gif');
  color:white;
  font-size: 14em;
  display: -webkit-flex;
  display: flex;
}

.first p {

  font-family: 'BilboINC';
  margin: auto;
  margin-top: calc(55vh - 0.7em)
}

.yellow {
  font-family:'BilboINC';
  font-size: 300px;
  background-size: cover;
  background-color:#3533FB;
  color:black;
  text-align:center;
  line-height:auto;
  display: -webkit-flex;
  display: flex;
}

.yellow p {
  margin: auto;
  margin-top: calc(50vh - 0.7em);

}

.pink {
  background-color: black;
}
.pink p {
   font-family:'BilboINC';
   font-weight: normal;
   font-style: normal;
   font-size: 7em;
   margin-top: calc(50vh - 0.7em);
   text-align: center;
   color: white;
   line-height: 120%;
}

p:focus {
  outline: none;
}

#container {
  font-family:'BilboINC';
  position:center;
    margin-top: calc(50vh - 0.7em);
    font-size:7em;
    text-align:center;
    color:#3533FB; 

}


.orange p {
  font-family:'BilboINC';

}

.violet{
  background-color:#3533FB;
}

.violet p{
   font-family:'BilboINC';
   font-weight: normal;
   font-style: normal;
   font-size: 3em;
   text-align: center;
   margin-top: calc(40vh - 0.7em);
   color: black;
   line-height: 1em;
}
